################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRAgentTests/bin/Debug/net8.0
/PRAgentTests/obj
/.vs
